<mat-card>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h2>Restore password</h2>
    <mat-error *ngIf="loginInvalid">The passwords does not match</mat-error>
    <mat-form-field>
      <input matInput type="password" placeholder="New password" formControlName="password" required/>
      <mat-error>Please provide a strong password (>= 8 chars, letter, number & [!@#$%^&*])</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm new password" formControlName="confirmPassword" required/>
      <mat-error>Please provide a valid confirm password</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="isValid()">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
