<div class="post">
  <div class="post-body">
    <img class="post-body-avatar" src="{{ postImageUrl }}" alt="User's image">
    <div class="post-body-content">
      <header class="post-body-content-header">
        <strong>{{ firstname }} {{ lastname }}</strong>
        <span class="post-body-content-header-space">@{{ username }}</span>
        <span class="post-body-content-header-space"></span>
        <time>{{ date | date: 'dd/MM/yyyy' }}</time>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="delete.emit()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </header>
      <mat-divider></mat-divider>
      <div *ngIf="text; then content else image"></div>
      <ng-template #content><p class="post-body-content-text">{{ text }}</p></ng-template>
      <ng-template #image>{{ postImageUrl }}</ng-template>
      <button mat-icon-button (click)="like.emit()">
        <mat-icon>{{ liked ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
      <span class="post-body-content-likes">{{ likes }}</span>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
