<mat-card>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h1>Did you forget your password?</h1>
    <h5 class="forgot-password description">An email will be sent to restore your account.</h5>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email" required />
      <mat-error>Please provide a valid email address</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="isValid()">Send</button>
    </mat-card-actions>
    <mat-card-actions>
      <a class="forgot-password" [routerLink]="['/login']">Back to login</a>
    </mat-card-actions>
  </form>
</mat-card>
