<button mat-icon-button matTooltip="Home" [routerLink]="['/home']">
  <mat-icon>home</mat-icon>
</button>
<button mat-icon-button matTooltip="Chat" [routerLink]="['/chat']">
  <mat-icon>chat</mat-icon>
</button>
<button mat-icon-button matTooltip="Profile" [routerLink]="['/profile']">
  <mat-icon>person</mat-icon>
</button>
<button mat-icon-button matTooltip="Notifications" [routerLink]="['/notifications']">
  <mat-icon>notifications</mat-icon>
</button>
<button mat-icon-button matTooltip="Settings" [routerLink]="['/settings']">
  <mat-icon>settings</mat-icon>
</button>
<button mat-icon-button matTooltip="Logout" (click)="logout()">
  <mat-icon>power_settings_new</mat-icon>
</button>
