<div class="feed-container">
  <div class="feed-container-tools" [formGroup]="form">
    <label>
      <input type="file" style="display:none" accept="image/png, image/jpeg"
             formControlName="profileImage" (change)="onFileChange($event)"/>
      <img class="feed-container-tools-profile-img pointer" alt="User's profile image"
           [src]="feedSandbox.imageUrl ? feedSandbox.imageUrl : '/assets/default_profile_avatar.svg'">
    </label>
    <button mat-icon-button matTooltip="Create post" matTooltipPosition="right" (click)="createPost()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <app-post *ngFor="let post of (postSandbox.posts$ | async)" [firstname]="post.firstname" [lastname]="post.lastname"
            [username]="post.username" [date]="post.createdDate" [text]="post.text" [likes]="post.likes"
            [liked]="postSandbox.isPostLiked(post.postId)" [postImageUrl]="post.postImageUrl"
            [userImageUrl]="post.userImageUrl" (like)="postSandbox.likePost(post.postId)"
            (delete)="postSandbox.deletePost(post.postId)"></app-post>
</div>
