<div class="feed-container">
  <div class="feed-container-tools">
    <img class="feed-container-tools-profile-img"
         [src]="feedSandbox.imageUrl ? feedSandbox.imageUrl : '/assets/default_profile_avatar.svg'">
    <button mat-icon-button matTooltip="Create post" matTooltipPosition="right" (click)="createPost()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <app-post *ngFor="let post of (postSandbox.posts$ | async)" [firstname]="post.firstname" [lastname]="post.lastname"
            [username]="post.username" [date]="post.createdDate" [text]="post.text" [likes]="post.likes"
            [liked]="postSandbox.isPostLiked(post.postId)" [postImageUrl]="post.postImageUrl"
            [userImageUrl]="post.userImageUrl" (like)="postSandbox.likePost(post.postId)"
            (delete)="postSandbox.deletePost(post.postId)"></app-post>
</div>
