<button mat-button matTooltip="Feed" [routerLink]="['/feed']">
  <mat-icon>feed</mat-icon>
</button>
<button mat-button matTooltip="Profile" [routerLink]="['/profile']">
  <mat-icon>person</mat-icon>
</button>
<button mat-button matTooltip="Notifications" [routerLink]="['/notifications']">
  <mat-icon>notifications</mat-icon>
</button>
<button mat-button matTooltip="Settings" [routerLink]="['/settings']">
  <mat-icon>settings</mat-icon>
</button>
<button mat-button matTooltip="Logout">
  <mat-icon>power_settings_new</mat-icon>
</button>