<mat-dialog-content [formGroup]="form">
  <h2 class="title" mat-dialog-title>What is on your mind?</h2>
  <mat-form-field appearance="fill">
    <mat-label>What is on your mind?</mat-label>
    <textarea matInput formControlName="text" required></textarea>
  </mat-form-field>
  <input type="file" accept="image/png, image/jpeg" (change)="onFileChange($event)">
  <input type="hidden" formControlName="postImage"/>
  <h5>File type: jpeg/png</h5>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="errorExists()" (click)="save()">Save</button>
</mat-dialog-actions>
